/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2e2e2e; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(197, 197, 197);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #e4e4e4; 
}


/* FONT */

@font-face {
	font-family: RobotoMono;
	src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

html, input, button {
	font-family: RobotoMono, monospace;
	font-weight: 450;
}


/* COLORS */

html {
	background-color: rgb(36,24,36);
	color: rgb(190, 211, 210);
}

nav {
	background-color: rgb(32,22,32);
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

main {
	background-color: rgb(36,24,36);
}

a {
	color: rgb(31, 154, 163);
	text-decoration: none;
	transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

a:hover, a:active {
	filter: brightness(150%);
}

#nav_links a:hover, #nav_links a:active {
	transform: scale(1.05);
}

nav img:hover {
	filter: brightness(170%);
}

#cli .container {
	background-color: rgb(18, 18, 18);
}

#cli #user {
	color: rgb(31, 154, 163);
	font-weight: 800;
}

#filters label {
	margin-right: 10px;
	padding: 5px;
	text-align: center;
	width: 100%;
	background-color: rgb(49, 32, 49);
	border-radius: 10px;
	transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
	#filters .filter_on{
		background-color: rgb(49, 32, 49);
		box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
		font-weight: bold;
		filter: brightness(125%);
		transform: scale(1.08);
	}