/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(36,24,36); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(68, 53, 68); 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(77, 58, 77); 
}


/* FONT */

@font-face {
	font-family: RobotoMono;
	src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

html, input, button {
	font-family: RobotoMono, monospace;
	font-weight: 450;
}


/* COLORS */

html {
	background-color: rgb(36,24,36);
	color: rgb(190, 211, 210);
}

nav {
	background-color: rgb(32,22,32);
	box-shadow: 0 8px 10px 3px rgba(0, 0, 0, 0.2);
}

main {
	background-color: rgb(36,24,36);
}

a {
	color: rgb(31, 154, 163);
	text-decoration: none;
	transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

a:hover, a:active {
	filter: brightness(150%);
}

#nav_links a:hover, #nav_links a:active {
	transform: scale(1.05);
}

nav img:hover {
	filter: brightness(170%);
}

#cli .container {
	background-color: rgb(18, 18, 18);
}

#cli #user {
	color: rgb(31, 154, 163);
	font-weight: 800;
}

#filters label {
	margin-right: 12px;
	padding: 5px;
	text-align: center;
	width: 100%;
	background-color: rgb(49, 32, 49);
	border-radius: 10px;
	transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#filters label:hover {
	filter: brightness(125%);
}

	#filters .filter_on{
		box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.3);
		font-weight: bold;
		filter: brightness(125%);
		transform: scale(1.08);
	}


button {
	box-shadow: 0 0px 12px 5px rgba(0, 0, 0, 0.3);
	border: 0px;
	padding:5px;
	border-radius: 10px;
	color: rgb(0, 0, 0);
	background-color: rgb(31, 154, 163);
	font-size: 17px;
	cursor: pointer;
}

button:hover {
	filter:brightness(120%);
}

button:active {
	box-shadow: 0 0px 12px 5px rgba(0, 0, 0, 0);
	transform: scale(0.95);
}

#table_container {
	filter: brightness(80%);
}
#guessing_section #content, #guessing_section #translation {
	font-size: 22px;
	font-weight: bold;
	margin-top: 0px;
}

#search_container input[type=text] {
	width: 240px;
}
	#expression_list {
		box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.3);
		padding: 0px 10px;
		margin-top: 10px;
	}

input[type=text], input[type=password] {
	display:flex;
	padding:5px;
	border: 0px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 181, 194, 0);
	background-color: rgb(44, 29, 44);
	color: rgb(190, 211, 210);
	filter:brightness(120%);
	font-size: 15px;
	transform: scale(0.93);
	transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

input[type=text]:focus, input[type=password]:focus {
	outline:0px;
	background-color: rgb(49, 31, 49);
	border-bottom: 2px solid rgb(0, 181, 194);
	transform: scale(1);
	box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.3);
}
