.flex_container_row_vcent {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.flex_container_row_hcent {
	display:flex;
	flex-direction: row;
	align-items: center;
}

.flex_container_row_cent {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex_container_col_vcent {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.flex_container_col_hcent {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.flex_container_col_cent {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex_container_col_start {
	display:flex;
	flex-direction: column;
	align-items: start;
}