html {
	overflow-y: scroll;
}

main {
	margin-top: 124px;
}

/* home.html */

#main_home {
	display:flex;
	flex-direction: column;
    align-items: center;
}

	#main_home #filters_form {
		display: flex;
		flex-direction:column;
		align-items: center;
	}

	#main_home #filters {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 80vw;
	}

		#filters .filter_checkbox {
			margin: 0px;
		}

		#filters label {
			margin-right:5px;
		}

		#filters_form #apply_filter_button {
			margin-top: 15px;
		}

	#main_home hr {
		width: 80vw;
		margin: 25px 0px;
	}

	#main_home #guessing_section {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 80vw;
	}
		#guessing_section #table_container {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow-x:auto;
			width: 75%;
		}
		#guessing_section table {
			table-layout: fixed;
			width: 100%;  
		}
		#guessing_section td {
			text-align: center;
			vertical-align: middle;
		}

	#main_home .solution {
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 100%
	}

		.solution #example_container {
			display: flex;
			flex-direction:column;
			align-items: flex-start;
			width: 80%
		}

		.solution #example_en {
			margin-bottom: 5px;
		}

		.solution #example_it {
			margin-top: 5px;
		}

		.solution #notes {
			margin-top: 5px;
		}

		.solution #guess_buttons {
			display: flex;
			flex-direction: row;
		}
			#guess_buttons .guess_button{
				margin:5px;
			}


/* search.html */

#main_search {
	display: flex;
	align-items:center;
	justify-content: center;
}

#search_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50vw;
}

	#search_container #expression_list {
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#expression_list ul {
		list-style-type: none;
		width: 100%;
		padding: 0px;
	}

	#expression_list li {
		margin: 5px 0px;
	}


/* about.html */

#main_about {
	display:flex;
	align-items: center;
	justify-content: center;
}

	#main_about #about_container {
		width: 80vw;
	}
		#about_container p {
			margin-left:20px;
		}
		
		#about_container #tech_container {
			display: flex;
			flex-direction: row;
			align-items: start;
			justify-content: space-evenly;
			width: 100%;
		}
			#tech_container #type {
				display:flex;
				flex-direction: column;
				align-items: center;
			}
			#tech_container .tech_group {
				display:flex;
				flex-direction:row;
			}

				.tech_group span{
					display: flex;
					align-items: center;
					margin: 0px 10px;
					text-align: center;
				}

				.tech_group div {
					display:flex;
					flex-direction: column;
					align-items: center;
				}