
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width:100vw;
	padding-top: 10px;
	z-index: 1;
}
#nav_links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: center;
	margin: 0px 10px;
}

	.nav_item {
		display:flex;
		align-items: center;
		margin: 0px 10px;
	}
		.nav_item span {
			margin-left:3px;
		}

.cli_container {
	margin: 25px 0px;
	padding: 10px;
	border: solid 1px rgb(124, 108, 108);
	border-radius: 15px;
	width: 80vw;
}
