<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Engvocab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'vocapp/css/style.css' %}">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="style/favicon.ico"/> -->
	</head>
	<body>
		<nav>
			<ul>
			{% if request.user.is_authenticated %}
				<li><a class="nav_item" href="{% url 'vocapp:logout_user' %}">Logout</a></li>
			{% else %}
				<li><a class="nav_item" href="{% url 'vocapp:login_user' %}">Login</a></li>
				<li><a class="nav_item" href="{% url 'vocapp:signup' %}">Signup</a></li>
			{% endif %}
			</ul>
			<ul>
				<li><a class="nav_item" href="{%url 'vocapp:home'%}">Home</a></li>
				<li><a class="nav_item" href="{%url 'vocapp:search'%}">Search</a></li>
				{% if request.user.is_authenticated %}
					<li><a class="nav_item" href="{%url 'vocapp:dashboard'%}">Dashboard</a></li>
				{% endif %}
				<li><a class="nav_item" href="{%url 'vocapp:about'%}">About</a></li>
			</ul>
			<div>
				<p>{% if request.user.is_authenticated %} {{request.user.username}}{% else %}Guest{% endif %}@engvocab {{request.path}} $ <span id="command"> </span></p>
			</div>
		</nav>
		{% block main %}
		{% endblock %}
	</body>
	<script src="{% static 'vocapp/js/typing_sim.js' %}"></script>
	<script>AddEvents()</script>
</html>