<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Engvocab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'vocapp/css/colors_fonts.css' %}">
		<link rel="stylesheet" href="{% static 'vocapp/css/navbar.css' %}">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="style/favicon.ico"/> -->
	</head>
	<body>
		<nav>
			<div id="nav_links">
				<div class="horizontal">
					<a class="nav_item" href="{%url 'vocapp:home'%}">
						<img src="{% static 'vocapp/icons/home.svg' %}" alt="">
						<span>Home</span>
					</a>
					<a class="nav_item" href="{%url 'vocapp:search'%}">
						<img src="{% static 'vocapp/icons/search.svg' %}" alt="">
						<span>Search</span>
					</a>
					{% if request.user.is_authenticated %}
						<a class="nav_item" href="{%url 'vocapp:dashboard'%}">
							<img src="{% static 'vocapp/icons/profile.svg' %}" alt="">
							<span>Dashboard</span>
						</a>
					{% endif %}
					<a class="nav_item" href="{%url 'vocapp:about'%}">
						<img src="{% static 'vocapp/icons/about.svg' %}" alt="">
						<span>About</span>
					</a>
				</div>
				<div class="horizontal">
					{% if request.user.is_authenticated %}
						<a class="nav_item" href="{% url 'vocapp:logout_user' %}">
							<img src="{% static 'vocapp/icons/logout.svg' %}" alt="">
							<span>Logout</span>
						</a>
					{% else %}
						<a class="nav_item" href="{% url 'vocapp:login_user' %}">
							<img src="{% static 'vocapp/icons/login.svg' %}" alt="">
							<span>Login</span>
						</a>
						<a class="nav_item" href="{% url 'vocapp:signup' %}">
							<img src="{% static 'vocapp/icons/signup.svg' %}" alt="">
							<span>Signup</span>
						</a>
					{% endif %}
				</div>
			</div>
			<div id="cli">
				<div class="container">
					<span id="user">{% if request.user.is_authenticated %} {{request.user.username}}{% else %}Guest{% endif %}@engvocab {{request.path}}</span> $ <span id="command"> </span>
				</div>
			</div>
		</nav>
		{% block main %}
		{% endblock %}
	</body>
	<script src="{% static 'vocapp/js/typing_sim.js' %}"></script>
	<script>addNavEvents()</script>
</html>