{% extends "layout_template.html" %}

{% block main %}
{% load static %}
<main id="main_about">
	<div id="about_container">	
		<h2>What is this website about?</h2>
		<p>
			It's a website to use during idle moments to learn the Italian translation of some English terms and expressions.
		</p>
		<h2>Why did you build this website?</h2>
		<p>
			It is a side project that I created for two main reasons:<br>
			The first is to learn new skills and technologies (primarily Django) by developing my first full-stack application from scratch.<br>
			As for the second reason, I took the opportunity to build a web application to create something useful for myself: strengthening my English language skills.
		</p>
		<h2>What advantages do I have if I create an account?</h2>
		<p>
			Creating an account is not mandatory.<br>
			By creating one, you will be able to keep track of the learning progress of each expression,
			decide whether to review previously seen expressions, or discover new ones.<br>
			To create an account, only a username and password are required.<br>
			No data collection or any type of tracking takes place.<br>
		</p>
		<h2>Other info</h2>
		<ul>
			<li>Website version: {{version}}</li>
			<li>Github repository: <a href="{{repo}}">Engvocab</a></li>
			<li>Website created by using:</li>
				<div id="tech_container">
					<div id="type">
						<h3>Frontend</h3>
						<div class="tech_group">
							<div>
								<img src="{% static 'vocapp/icons/html_icon.svg' %}" alt="" width="48" height="48">
								<span>HTML</span>
							</div>
							<div>
								<img src="{% static 'vocapp/icons/css_icon.svg' %}" alt="" width="48" height="48">
								<span>CSS<br>(vanilla)</span>
							</div>
							<div>
								<img src="{% static 'vocapp/icons/javascript_icon.svg' %}" alt="" width="48" height="48">
								<span>JavaScript<br>(vanilla)</span>
							</div>
						</div>
					</div>

					<div id="type">
						<h3>Backend</h3>
						<div class="tech_group">
							<div>
								<a href="https://www.djangoproject.com/">
									<img src="{% static 'vocapp/icons/django_icon.svg' %}" alt="" width="48" height="48">
								</a>
								<span>Django</span>
							</div>
							<div>
								<a href="https://www.mysql.com">
								<img src="{% static 'vocapp/icons/mysql_icon.svg' %}" alt="" width="48" height="48">
								</a>
								<span>MySQL</span>
							</div>
						</div>
					</div>
					<div id="type">
						<h3>Hosting</h3>
						<div class="tech_group">
							<div>
								<a href="https://www.pythonanywhere.com/">
									<img src="{% static 'vocapp/icons/pythonanywhere_icon.svg' %}" alt="" width="48" height="48">
								</a>
								<span>Pythonanywhere</span>
							</div>
						</div>
					</div>
				</div>
		</ul>
	</div>
</main>
{% endblock %}
