<!DOCTYPE html>
<html>
	<head>
		<title>Engvocab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="style/favicon.ico"/> -->
	</head>
	<body>
		<header>
			{% if request.user.is_authenticated %}
				<p>{{ request.user.username }}</p>
				<a href="{% url 'vocapp:logout_user' %}">Logout</a>
			{% else %}
				<a href="{% url 'vocapp:login_user' %}">Login</a>
				<a href="{% url 'vocapp:signup' %}">Sign up</a>
			{% endif %}
		</header>
		<hr>
		<nav>
			<ul>
				<li><a href="{%url 'vocapp:home'%}">Home</a></li>
				<li><a href="{%url 'vocapp:search'%}">Search</a></li>
			</ul>
		<main>
		<ul>
			<li>not learned: {{not_learned}}</li>
			<li>learning: {{learning}}</li>
			<li>learned: {{learned}}</li>
		</ul>
		</main>
	</body>
</html>