<!DOCTYPE html>
<html>
	<head>
		<title>Engvocab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="style/favicon.ico"/> -->
	</head>
	<body>
		<header>
			{% if request.user.is_authenticated %}
			<p>{{ request.user.username }}</p>
			<a href="{% url 'vocapp:logout_user' %}">Logout</a>
			{% else %}
			<a href="{% url 'vocapp:login_user' %}">Login</a>
			<a href="{% url 'vocapp:signup' %}">Sign up</a>
			{% endif %}
		</header>
		<hr>
		<nav>
			<ul>
				<li><a href="{%url 'vocapp:home'%}">Home</a></li>
				<li><a href="{%url 'vocapp:search'%}">Search</a></li>
				<li><a href="{%url 'vocapp:dashboard'%}">Dashboard</a></li>
			</ul>
		<main>
			<div>
				<h1>expression id: {{expression_id}}</h1>
				{{expression_info.content}}<br>
				{{expression_info.level}} | {{expression_info.role}} | {{expression_info.context}} | {{expression_info.is_phrasal_verb}} | {{expression_info.is_formal}} <br>
				{{expression_info.translation_it}}<br>
				{{expression_info.example_en}} | {{expression_info.example_it}}<br>
				{{expression_info.note}}<br>
			</div>
		</main>
	</body>
</html>