{% extends "layout_template.html" %}

{% block main %}
{% load static %}
<main class="flex_container_col_hcent">

	<div class="flex_container_col_hcent top-bottom-spacing">
		<div id="table_container" class="flex_container_col_cent">
			<table>
				<tbody>
					<tr>
						<th>Level</th>
						<th>Role</th>
						<th>Context</th>
						{% if expression_info.is_phrasal_verb %}
						<th>Other info 1</th>
						{% endif %}
						{% if expression_info.is_formal %}
						<th>Other info 2</th>
						{%endif%}
						{% if expression_info.is_figurative %}
						<th>Other info 3</th>
						{%endif%}
					</tr>
					<tr>
						<td>{{expression_info.level}}</td>
						<td>{{expression_info.role}}</td>
						<td>{{expression_info.context}}</td>
						{% if expression_info.is_phrasal_verb %}
							<td>phrasal verb</td>
						{% endif %}
						{% if expression_info.is_formal %}
							<td>formal</td>
						{%endif%}
						{% if expression_info.is_figurative %}
							<td>figurative</td>
						{%endif%}
					</tr>
				</tbody>
			</table>
		</div>
		
		<p class="content">{{expression_info.content}}</p>
		<p class="translation">{{expression_info.translation_it}}</p>

		<div id="translation_info_container">
			{% if other_translations %}
				<p id="other_translations">Other translations:</p>
				<ul id="other_translations_list">
					{% for translation in other_translations %}
						<li>{{translation.content}}: {{translation.translation_it}}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<p id="example_en"><strong>Example</strong>: {{expression_info.example_en}}</p>
			<p id="example_it"><strong>Esempio</strong>: {{expression_info.example_it}}</p>
			<p id="notes"><strong>Note</strong>: {{expression_info.note}}</p>
		</div>
		{% if request.user.is_authenticated %}
			<div>
				<button id="report_button" onclick = "toggle_report_form()">Report error <img src="{% static 'vocapp/icons/arrow_down.svg' %}" alt=""></button>
			</div>
			<div class="report_form hidden_object">
				<form class="flex_container_col_hcent" action="{%url 'vocapp:report' expression_info.id%}" method="POST" onsubmit="check_report_form(event)">
					{% csrf_token %}
					<p>Which fields contain errors?</p>
					<div class="fields_list flex_container_col_start">
						<div>
							<input type="checkbox" name="involved_fields" value="content" id="content_error">
							<label for="content_error">Expression</label>
						</div>
						
						<div>
							<input type="checkbox" name="involved_fields" value="transl" id="translation_error">
							<label for="translation_error">Translation</label>
						</div>
						
						<div>
							<input type="checkbox" name="involved_fields" value="lvl" id="level_error">
							<label for="level_error">Level</label>
						</div>

						<div>
							<input type="checkbox" name="involved_fields" value="role" id="role_error">
							<label for="role_error">Role</label>
						</div>
						
						<div>
							<input type="checkbox" name="involved_fields" value="context" id="context_error">
							<label for="context_error">Context</label>
						</div>

						<div>
							<input type="checkbox" name="involved_fields" value="expl" id="example_error">
							<label for="example_error">Example</label>
						</div>

						<div>
							<input type="checkbox" name="involved_fields" value="expl_it" id="example_it_error">
							<label for="example_it_error">Example translation</label>
						</div>

						<div>
							<input type="checkbox" name="involved_fields" value="note" id="note_error">
							<label for="note_error">Note</label>
						</div>
						
						<div>
							<input type="checkbox" name="involved_fields" value="phrasal" id="phrasal_error">
							<label for="phrasal_error">"Phrasal verb" tag</label>
						</div>

						<div>
							<input type="checkbox" name="involved_fields" value="formal" id="formal_error">
							<label for="formal_error">"Formal" tag</label>
						</div>
						
						<div>
							<input type="checkbox" name="involved_fields" value="figurative" id="figurative_error">
							<label for="figurative_error">"Figurative" tag</label>
						</div>
					</div>

					<textarea name="message" id="error_message" cols="40" rows="15" required placeholder="Describe the error"></textarea>
					<button id="submit_report_button" type="submit">Send</button>
				</form>
			</div>
		{% endif %}
	</div>
</main>
<script src="{% static 'vocapp/js/typing_sim.js' %}"></script>
<script src="{% static 'vocapp/js/report.js' %}"></script>
<script>
	"{% if request.user.is_authenticated %}"
		add_report_events();
	"{% endif %}"
</script>
{% endblock %}