<!DOCTYPE html>
<html>
	<head>
		<title>Engvocab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="style/favicon.ico"/> -->
	</head>
	<body>
		<header>
			{% if request.user.is_authenticated %}
			<p>{{ request.user.username }}</p>
			<a href="{% url 'vocapp:logout_user' %}">Logout</a>
			{% else %}
			<a href="{% url 'vocapp:login_user' %}">Login</a>
			<a href="{% url 'vocapp:signup' %}">Sign up</a>
			{% endif %}
		</header>
		<hr>
		<nav>

			<ul>
				<li><a href="{%url 'vocapp:home'%}">Home</a></li>
				<li><a href="{%url 'vocapp:search'%}">Search</a></li>
				<li><a href="{%url 'vocapp:dashboard'%}">Dashboard</a></li>
			</ul>
		<main>
			<div>
				{% for level in levels %}
					<button>{{level}}</button>
				{%endfor%}
				| <button>Phrasal verb</button>
				| discover (login)
				| review (login)
			</div>
			<hr>
			<div>
				{{expression_info.level}} | {{expression_info.role}} | {{expression_info.context}} {% if expression_info.is_phrasal_verb %} | phrasal verb {% endif %} | {% if expression_info.is_formal %} formal {%endif%} <br>
				{{expression_info.content}}<br>
				<button>Show</button><br>
				{{expression_info.translation_it}}<br>
				{{expression_info.example_en}} | {{expression_info.example_it}}<br>
				{{expression_info.note}}<br>
				<hr>
				<form action="{%url 'vocapp:adjust_confidence' expression_info.id%}" method="POST">
					{% csrf_token %}
					<button type ="submit" name="guessing" value="1">Guessed</button> 
				</form>
				<form action="{%url 'vocapp:adjust_confidence' expression_info.id%}" method="POST">
					{% csrf_token %}
					<button type ="submit" name="guessing" value="0">Not guessed</button>
				</form>
			</div>
		</main>
	</body>
</html>