{% extends "layout_template.html" %}

{% block main %}
{% load static %}
<main id="main_home">
	<div>
		<form action="{%url 'vocapp:update_filters'%}" method="GET">
			{% for level in levels %}
				<input type="checkbox" name="level" id="{{level}}" class="filter" value="{{level}}" {%if level in request.session.level_filters%} checked {%endif%}>
				<label for="{{level}}">{{level}}</label>
			{%endfor%}
			|
			<input type="checkbox" name="phrasal" id="phrasal" class="filter" value="phrasal" {%if request.session.phrasal %} checked {% endif %}>
			<label for="phrasal">phrasal verb</label>
			{% if request.user.is_authenticated %}
				|
				<input type="checkbox" name="category" id="review" class="filter" value="review" {%if request.session.category == 'review'%} checked {%endif%}>
				<label for="review">review</label>
			{% endif %}
			<button type="submit" id="apply_filter">Apply</button>
		</form>
	</div>
	<hr>
	<div id ="guessing_section">
		{%if expression_info %}
			{{expression_info.level}} | {{expression_info.role}} | {{expression_info.context}} | {% if expression_info.is_phrasal_verb %} phrasal verb | {% endif %} {% if expression_info.is_formal %} formal | {%endif%} {% if expression_info.is_figurative %} figurative | {%endif%}
			<br>
			<p id="content"></p>
			<br>
			<button id="show_button" onclick="show_solution()">Show</button><br>
			<div hidden id="solution">
				{{expression_info.translation_it}}<br>
				{{expression_info.example_en}} | {{expression_info.example_it}}<br>
				{{expression_info.note}}<br>
				<hr>
				<form action="{%url 'vocapp:adjust_confidence' expression_info.id%}" method="POST">
					{% csrf_token %}
					<button type ="submit" class = "guess_button" name="guessing" value="1">Guessed</button> 
				</form>
				<form action="{%url 'vocapp:adjust_confidence' expression_info.id%}" method="POST">
					{% csrf_token %}
					<button type ="submit" class = "guess_button" name="guessing" value="0">Not guessed</button>
				</form>
			</div>
		{% else %}
			<p>{{error}}</p>
		{% endif %}
	</div>
</main>

<script defer>
	//initialize the filter_command using the session variable
	window.filter_command = ""
	"{% if request.session.level_filters%}"
		window.filter_command = "filter";
	
		"{%for level in request.session.level_filters %}"
			window.filter_command += " " + "{{level}}";
		"{%endfor%}"
	"{% endif %}"

	"{%if request.session.phrasal %}"
		if (window.filter_command == "") {
			window.filter_command = "filter";
		}
		window.filter_command += " " + "phrasal";
	"{% endif %}"

	"{%if request.session.category == 'review'%}"
		if (window.filter_command == "") {
			window.filter_command = "filter";
		}
		window.filter_command += " " + "review";
	"{%endif%}"
</script>

<script src="{% static 'vocapp/js/home.js' %}"></script>
<script src="{% static 'vocapp/js/typing_sim.js' %}"></script>

<script>
	window.active_timers = 0;	//acts like a semaphore for waiting the previous command to be fully typed into the shell

	"{%if expression_info.content%}"
		type("{{expression_info.content}}", "content", 1, false, false, false);
	"{% endif %}"
	addHomeEvents();
</script>

{% endblock %}