{% extends "layout_template.html" %}

{% block main %}
{% load static %}
<main class="flex_container_row_vcent">
	<div class="enter_container flex_container_col_cent">
		<h1>Login</h1>
		<form class="flex_container_col_hcent" method="POST">
			{% csrf_token %}
			<div class="form_field_login">
				<label for="id_username">Username:</label>
				{{ form.username }}
			</div>

			<div class="form_field_login">
				<label for="id_password">Password:</label>
				{{ form.password }}
			</div>

			<button type="submit" onclick="hideErrorMessage()" id="submit_login">Login</button>
		</form>
		{% if status == "ERROR" %}
			<p class="error_message">{{ response }}</p>
		{% endif %}
	</div>
</main>

<script src="{% static 'vocapp/js/typing_sim.js' %}"></script>
<script src="{% static 'vocapp/js/login.js' %}"></script>
<script>addLoginEvent()</script>
{% endblock %}