{% extends "layout_template.html" %}

{% block main %}
<main class="flex_container_col_hcent">
	<div id="chart_container" class="flex_container_row_vcent">
		<canvas id="chart"></canvas>
	</div>

	{% for level, info in levels.items %}
		{{level}} - {{info}} <br>
	{%endfor%}

</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const canvas = document.getElementById('chart');

new Chart(canvas, {
	type: 'pie',
	data: {
		labels: ['Learned', 'Learning', 'Never seen'],
		datasets: [{
			label: 'Epressions',
			
			data: ["{{learned}}", "{{learning}}", "{{not_learned}}"],
			backgroundColor: [
				'rgb(74, 168, 30)',
				'rgb(45, 90, 187)',
				'rgb(124, 107, 107)',
			],
			hoverOffset: 15,
			borderWidth: 1,
			hoverBorderWidth: 2,
		}]
	},
	options: {
		radius: "95%",
		plugins: {
			subtitle: {
				display: true,
				text: 'Total number of expressions: {{total_expressions}}',
				position: 'bottom',
				color: 'rgb(190, 211, 210)',
				font: {
					size: 16,
				},
				padding: 10,
			},
			legend: {
				display: true,
				labels: {
					color: 'rgb(190, 211, 210)',
					font: {
						size: 14,
					},
				}
			}
		},
	}
});
</script>
{% endblock %}