{% extends "layout_template.html" %}

{% block main %}
{% load static %}
<main class="flex_container_row_vcent">
	<div id="search_container" class="flex_container_col_hcent">
		<input type="text" autofocus id="expression_name" name="expression_name" placeholder="Search for an expression" autocomplete="off">
		<div id="expression_list" class="flex_container_col_cent">
			<ul id="expressions">
			</ul>
		</div>
	</div>
</main>

<script src="{% static 'vocapp/js/search.js' %}"></script>
<script defer>
sortExpressions('{{ expressions_list|escapejs }}');
updateResults("");
addSearchEvent();
set_list_size();
</script>
{% endblock %}