{% extends "layout_template.html" %}

{% block main %}
{% load static %}
<main>
	<input type="text" autofocus oninput="updateResults(this.value)" id="expression_name" name="expression_name" placeholder="Search for an expression" autocomplete="off">
	
	<div>
		<h3>Expressions:</h3>
		<ul id="expressions">
		</ul>
	</div>

</main>
<script src="{% static 'vocapp/js/search.js' %}"></script>
<script>
sortExpressions('{{ expressions_list|escapejs }}');
updateResults("");
</script>
{% endblock %}