<!DOCTYPE html>
<html>
	<head>
		<title>Engvocab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="style/favicon.ico"/> -->
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{%url 'vocapp:home'%}">Home</a></li>
				<li><a href="{%url 'vocapp:search'%}">Search</a></li>
				<li><a href="{%url 'vocapp:dashboard'%}">Dashboard</a></li>
			</ul>
		<main>
			<form action="{%url 'vocapp:validation_signin'%}" method="POST">
				{% csrf_token %}
				<input type="text" id="username" name="username" placeholder="Username">
				<input type="password" id="password" name="password" placeholder="Password">
				<input type="password" id="password_conf" name="password_conf" placeholder="Retype Password">
				<button type="submit">Signin</button>
			</form>
			Already have an account? <a href="{%url 'vocapp:login'%}">Login</a>
		</main>
	</body>
</html>