<!DOCTYPE html>
<html>
	<head>
		<title>Engvocab</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="style/favicon.ico"/> -->
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{%url 'vocapp:home'%}">Home</a></li>
				<li><a href="{%url 'vocapp:search'%}">Search</a></li>
				{% if request.user.is_authenticated %}
					<li><a href="{%url 'vocapp:dashboard'%}">Dashboard</a></li>
				{% endif %}
			</ul>
		<main>
			<h1>Sign up</h1>
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Sign up</button>
			</form>
			Already have an account? <a href="{%url 'vocapp:login_user'%}">Login</a>
		</main>
	</body>
</html>